.bundle
Gemfile.lock
db/*.sqlite3
log/*.log
tmp/
config/*.yml
public/javascripts/cached_*
public/stylesheets/cached_*
db/sphinx

#以bundle install --path vendor/bundle方式安装，不影响开发者现有gems环境
vendor/bundle
