<%= content_for :sitemap do %>
<span class="current">列表</span>
<% end %>
<%= render 'base' %>

<div id="cpanel_users">
  <%= grid(@users, :show_filters => :always) do |g|
    g.column :column_name => '', :attribute_name => '_id'
      g.column :column_name => 'email', :attribute_name => 'email' do |c|
      c.email if !c.email.blank?
    end
      g.column :column_name => 'name', :attribute_name => 'name' do |c|
      c.name if !c.name.blank?
    end
      g.column :column_name => 'slug', :attribute_name => 'slug' do |c|
      c.slug if !c.slug.blank?
    end
      g.column :column_name => '创建时间', :attribute_name => 'created_at', :td_html_attrs => { :style => "width:120px;" }
    g.column :td_html_attrs => { :style => "width:50px; text-align:right;" } do |c|
      raw "#{link_to '修改', edit_cpanel_user_path(c.id)}
      #{link_to image_tag("wice_grid/delete.png", :style => "margin-bottom:-4px"), cpanel_user_path(c.id), :method => :delete, :confirm => '确定要删除吗?'}"
    end
  end %>
</div>


