<p>你已经成功地注册成为了<%= Setting.app_name %>的成员.</p>
<ul>
<li>姓名: <%= @user.name %></li>
<li>帐号: <%= @user.email %></li>
</ul>
<br />
<p>
者也目前还处于Alpha阶段，我们正在努力完善它，如果有问题还请多多谅解。<br /><br />
反馈与建议可以发往:<br />
<a href="mailto:huacnlee@gmail.com">huacnlee@gmail.com</a>，<a href="mailto:nowazhu@gmail.com">nowazhu@gmail.com</a> <br /><br />
或者可以直接提交到 <a href="https://github.com/huacnlee/quora/issues/new">Github issue</a>
</p>

