<% content_for :sidebar do %>
  <div class="box">
    <ul class="sections">
    	<li>
      <a href="/" class="home<%= ' active' if params[:controller] == "home" and params[:action] == "index" %>">我的首页</a>
    	</li>
    	<li>
    		<a href="/draft" class="draft<%= ' active' if params[:controller] == "home" and params[:action] == "draft" %>">我的草稿</a>
    	</li>
    	<li>
    		<a href="/asks" class="asks<%= ' active' if params[:controller] == "asks" and params[:action] == "index" %>">所有问题</a>
    	</li>
    </ul>
  </div>
<% end %>
