* {margin:0;padding:0;}
a {text-decoration:none;}
a:link,a:visited { color: #19558D; }
a:hover {text-decoration:underline;}
img {border:0;}
input {font-family:Helvetica,Arial,default;outline:none;}
hr {border:0;border-top:1px solid #bcc4d3;}
h1 {font-size:1.4em;margin:0 0 10px;}
ul,ol { list-style-position :inside; margin:2px 10px; }

input,textarea { border: 1px solid #999; border-bottom: 1px solid #888; font-size: 13px; width: 250px; padding:3px; }
input.long,textarea.long { width: 500px; }
textarea.long { height:300px; }
a.button,
button { border-color: #062C50; background:#336fa5 url(/images/button_submit.gif) bottom left repeat-x;
  color: white; min-width: 40px; cursor: pointer;
  border:1px solid #062C50; border-bottom:1px solid #003;
  -moz-border-radius: 3px; -webkit-border-radius: 3px;
  text-shadow: 0 -1px #19558D;
  font-weight: bold; font-size:1em; display: inline-block; padding: 6px 16px; text-align: center; }

a.button:hover { text-decoration:none; }

a.button.small,
button.small { padding:2px 10px; }

a.submit:active,
button:active { background:#062C50; }

a.gray_button,
a.dropdown { 
  background: #EEE;
  display:inline-block;
  line-height:24px;
  padding:2px 10px 1px 10px;
  background:#FFF url(/images/gray_button_bg.gif) bottom left repeat-x;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  text-decoration:none;
  color:#000;
  border:1px solid #bbb;
  border-color: #BBB #BBB #999 #999;
  text-align:center;
}
a.gray_button:active,
a.dropdown:active,
a.gray_button.active,
a.dropdown.active {
  background:#CCC;
  border-color: #999;
}
a.gray_button.small,
button.gray_button.small { line-height:18px; padding:2px 10px; }

a.flat_button{
  background: #ddd;
  border:1px solid #ddd;
  display:inline-block;
  line-height:24px;
  padding:2px 10px 1px 10px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  text-decoration:none;
  color:#666;
  text-align:center;
}
a.flat_button:active,
a.flat_button.active,
a.flat_button:hover {
  background: #999;
  border:1px solid #999;
  color:#FFF;
}

a.green_button {
  background:#dff0b1 url(/images/green_button_bg.gif) bottom left repeat-x;
  border:1px solid #8CB332;
  border-bottom: 1px solid #648517;
  color: #406A24;
  text-shadow: 0 1px #D4ED95;
  font-weight:bold;
}
a.green_button:active {
  background:#c3dd82;
  border:1px solid #648517;
}



/* simple_form style */
.simple_form { }
.simple_form .row,
.simple_form .actions { margin:5px 0 10px 0; }
.simple_form .row.radio { margin:10px 0; }
.simple_form label { font-size: 12px; color:#666; display:block; }
.simple_form label.boolean { display:inline; margin-right:8px; }
.simple_form input.boolean { width:auto; margin-right:3px; }
.form span.error-message { color:red; }
.simple_form span.error { display:block; color:red; display:block; }
.form span.error { display:block; color:red; display:block; }

.alert_message, .notice_message, .error_explanation, #error_explanation {
  font-family: "adelle-1", "adelle-2", tahoma, sans-serif;
  background: #db0000;
  color: white;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: -0.4px;
  padding: 4px;
  margin: 0 0 10px 0;
  border: 2px solid #c30000;
  text-align: center;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  
}
.notice_message {  background: #00b431;  border-color: #009629; }
#error_explanation { background: #fff2f5; color:#db0000; border:2px solid #e5806b; }
#error_explanation h2,
.error_explanation h2 {  text-align: left;  font-weight: bold; color:#333; margin-top:8px;  font-size: 14px;  margin-bottom: 0px;}
#error_explanation ul,
.error_explanation ul { padding:8px 26px; text-align:left; }
#error_explanation ul li,
.error_explanation ul li {  font-size: 12px; font-weight:normal; padding:5px 0px;  list-style: square;}


#loading{-moz-border-radius:0 5px 5px 0;-webkit-border-radius:0 5px 5px 0;border-radius:0 5px 5px 0;
  background:#999;opacity:.8;filter:alpha(opacity=80);color:#fff;font-size:90%;font-weight:bold;margin:0;
  position:fixed;top:130px;left:0;text-shadow:0 1px #333;width:105px;z-index:101;height:30px;}
#loading .logo{background:url(/images/loading.gif) no-repeat center center;float:left;
  height:30px;width:30px;margin:0 5px 0 10px;}
#loading .text{float:left;margin:9px 0 0 0; }

.clearfix:before,.clearfix:after{content:'\0020';display:block;overflow:hidden;visibility:hidden;width:0;height:0}.clearfix:after{clear:both}.clearfix{zoom:1}

