.container { width:960px; margin:0 auto; text-align:left; }

address, blockquote {
  font-style: normal;
  padding: 0 0 0 10px;
  border-left: 3px solid #D0E5F2;
}

#header {
  background: #505759;
  min-height: 35px;
  padding-top: 18px;
  color:#FFF;
}
#header a {color:#fff; }
#header #site_name { background-color:#a82400; color:#FFF; height:35px; width:68px; text-align:center; line-height:35px;  float:left;
  font-size:20px; font-weight:bold;  }
#header #site_name a { color:#FFF; text-decoration:none; }
#header #add_ask { display:inline-block; background:#000; height:35px; line-height:35px; padding:0 6px; overflow:hidden; }
#header #add_ask input { width:360px; font-size: 16px;height: 18px; line-height:18px; border:0; margin-top: 2px; }
#header #add_ask a { color: #F0F0F0; font-weight: bold; font-size: 13px; padding: 10px 10px; text-align: center;}

#header #user_bar { padding-top:10px; text-align:right; margin-right:4px; width: 210px !important; _width: 220px;  }
#header #user_bar a { color: #B9BBBC; font-size:12px; display:inline-block; margin-right:8px; }

#header #nav { font-size:16px; width:500px; text-align:center; } 
#footer { clear:both; padding-top:25px; height:80px; }
#sitemap { margin:5px auto; }

#header:after {
    content:"";
    display:block;
    visibility:hidden;
    height:0;
    clear:both;
}

#main { margin:20px 0; text-align:center; }
#navbar li { margin:0;}
#navbar li a:link,
#navbar li a:visited { padding:0 6px 0 3px; margin-right:3px;  }
#navbar li a:hover { text-decoration: underline; background:none;}
#navbar li.current a:link,
#navbar li.current a:visited { background:none; color:#000;}
input.button,
input.radio { width:auto; }
label.collection_radio { display:inline-block; margin-right:8px;}

table.wice_grid { margin:10px 0;}
table.wice_grid input { width:auto;}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}
.group { margin-bottom:20px; }
.group h2 { font-size:12px; margin-bottom:8px; }
.group ul { margin:0 20px;}
.pagination { clear:both; margin-top:10px; text-align: left;}



.button {
  -moz-border-radius:      3px;
  -webkit-border-radius:   3px;
  border-radius:           3px;
  background:              #DDD; /* Image fallback */
  background:             -moz-linear-gradient(0% 170% 90deg, #c4c4c4, white);
  background:             -webkit-gradient(linear, 0% 0%, 0% 170%, from(white), to(#c4c4c4));
  border:                  1px solid;
  border-color:            #e0e0e0 #aaa #aaa #e0e0e0;  
  color:                   #404040;
  display:                 inline-block;
  font-family:            "helvetica neue", helvetica, arial, freesans, "liberation sans", "numbus sans l", sans-serif;
  font-size:               12px;
  outline                  0;
  padding:                 5px 13px 5px;
  text-align:              center;
  text-decoration:         none;
  text-shadow:             1px 1px 0 rgba(255,255,255,60); 
  white-space:             nowrap; 
  cursor:pointer;  
}

input[type='submit'].button,
button[type='submit'] { font-weight:bold;}

.button.small { padding: 2px 10px 2px; font-weight:normal; }
/* 工具栏 */
.button.group { 
  -moz-border-radius:0;
  -webkit-border-radius:0;
  border-radius:0px; 
  padding: 3px 10px 3px;
}
.button.group.left { 
  padding: 3px 10px 3px;
  -moz-border-radius:      3px 0 0 3px;
  -webkit-border-radius:   3px 0 0 3px;
  border-radius:           3px 0 0 3px;
}
.button.group.right { 
  padding: 3px 10px 3px;
  -moz-border-radius:      0 3px 3px 0;
  -webkit-border-radius:   0 3px 3px 0;
  border-radius:           0 3px 3px 0;
}



a.button { color:#404040; text-decoration: none; margin:0; }
.button:hover {
  background:           -moz-linear-gradient(0% 170% 90deg, #b8b8b8, white);
  background:           -webkit-gradient(linear, 0% 0%, 0% 170%, from(white), to(#b8b8b8));    
  border-color:         #e0e0e0 #999 #999 #e0e0e0;  
  color:                 #333333; 
}

.button:focus,
.button:active,
.button.checked {

  text-shadow: 0 1px 0 #666; 
  top:                   0px; 
  background-position:   0 -25px;
  background: -webkit-gradient(linear, left top, left bottom, from(#666), to(#999)); /* for webkit browsers */
  background: -moz-linear-gradient(top,  #666,  #999); /* for firefox 3.6+ */
  color:                 #fff;
  border: 1px solid #555;
}


.tools { margin-bottom:10px; text-align: right; }
.simple_form textarea { width:900px;}
