body { text-align:center; }
.container { width:1260px; margin:0 auto; text-align:left; }

address, blockquote {
  font-style: normal;
  padding: 0 0 0 10px;
  border-left: 3px solid #D0E5F2;
}

#header {
  background: #505759;
  min-height: 35px;
  padding-top: 18px;
  color:#FFF;
}
#header #site_name { background:#a82400; color:#FFF; height:35px; width:68px; text-align:center; line-height:35px;  float:left;
  font-size:20px; font-weight:bold;  }
#header #site_name a { color:#FFF; text-decoration:none; }
#header #add_ask { display:inline-block; background:#000; height:35px; line-height:35px; padding:0 6px; overflow:hidden; }
#header #add_ask input { width:360px; font-size: 16px;height: 18px; line-height:18px; border:0; margin-top: 2px; }
#header #add_ask a { color: #F0F0F0; font-weight: bold; font-size: 13px; padding: 10px 10px; text-align: center;}

#header #user_bar { padding-top:10px; text-align:right; margin-right:4px; }
#header #user_bar a { color: #B9BBBC; font-weight:bold; font-size:13px; display:inline-block; margin-right:8px; }
#footer { clear:both; padding-top:25px; height:80px; }

#main { margin:20px 0; }
.left_wrapper { float:left; width:870px; }
#footer .left_wrapper ,
#main .left_wrapper { margin-left:70px; margin-right:20px; width:780px; }
.sidebar { float:right: width:450px; overflow:hidden; }
.sidebar .box { margin-bottom:20px; }
.sidebar .box h2 { border-top: 1px dotted silver; padding: 15px 0 3px; color: #333; font-size: 1em; margin-bottom: 3px; }
.sidebar li { line-height:160%; }

.sidebar .sections { font-size:13px; font-weight:bold; }
.sidebar .sections li { display:inline; }
.sidebar .sections li a { display:block; padding:5px 18px; margin-bottom:4px;
  background:url(/images/section_arrow.gif) left -11px no-repeat; }
.sidebar .sections li a:hover,
.sidebar .sections li a.active { background-color: #DFEAF4; text-decoration: none; }
.sidebar .sections li a.active { background-color:#DDD; color:#333; cursor:default; }

#inner_new_ask {}
#inner_new_ask textarea { display:block; width:387px; height:80px; margin-bottom:8px; }
#inner_new_ask textarea.title { font-size:16px; font-weight:bold; }

.ask { margin-bottom:15px; border-bottom:1px solid #ddd; padding-bottom:10px; }
.ask h1 { font-size: 1.8em; line-height: 1.3em; letter-spacing: -1px; margin-bottom: 0; }

.ask .topic { -moz-border-radius: 3px; -webkit-border-radius: 3px; margin-right:5px; margin-bottom:5px;
  padding: 2px 5px; color:#19558D; display:inline-block; background:#dfeaf4; text-decoration:none; height:18px; line-height:18px; }
.ask .topic a.remove { background:url(/images/x.gif) center 3px no-repeat; float:right; margin-top:1px; margin-left:3px;
  -moz-border-radius: 2px; -webkit-border-radius: 2px;  width:16px; height:16px;}
.ask .topic a.remove:hover { background-color:#19558D; }
.ask a.topic:hover { background:#19558D; color:#FFF; }

.ask .title { font-size: 1.3em; line-height: 1.2em; font-weight: bold;}
.ask .title h1 { font-size: 1.2em; line-height: 1.2em; display:inline;  }
.ask .info { color: #999; margin:3px 0;  }
.ask .last_answer { margin-top:5px; }
.ask .last_answer .votes { display:inline-block;
  -moz-border-radius: 3px; -webkit-border-radius: 3px;
  background-color: #DFEAF4; font-size: 1em; line-height: 1.1em; color: #538DC2;
  font-weight:bold; width:20px; text-align:center; padding: 1px 3px; }
.ask .last_answer .md_body { margin-left:30px; }

.md_body { font-size:1.2em; color: #333; line-height:130%; }
.md_body blockquote { padding-left:28px; padding-top:8px; background:#FAEBBC url(/images/lquote.gif) left top no-repeat; }
.md_body blockquote p { padding-right:28px; padding-bottom:8px; font-size:1em; background:url(/images/rquote.gif) bottom right no-repeat; }
.md_body code { background: #F4F4F4; display:block; margin:5px; padding:2px; font-size:.6em; font-family:monaco,monospace; line-height:120%; }
.md_body a { background:url(/images/link_out.gif) 4px right no-repeat; font-size:13px; padding-right:10px; display:inline-block; }

a.page_more  { margin-top:10px; padding:8px 0px; -moz-border-radius: 3px; -webkit-border-radius: 3px; 
  display:block; text-align:center; font-weight: bold; cursor: pointer; color:#333;
  background:#FFF url(/images/more_bg.gif) left bottom repeat-x; border: 1px solid #bbb; font-size: .9em; }
a.page_more:hover { color: #333; border-bottom: 1px solid #999; text-decoration: none; }
a.page_more:active { background: #E0E0E0; border-color: #777; text-shadow: none; }

a.tag { margin:0px 2px; }

a.in_place_edit { font-weight:normal; cursor:pointer; background:url(/images/edit.gif) -15px left no-repeat; padding-left:18px; padding-right:5px;
  font-size:12px; -moz-border-radius: 3px; -webkit-border-radius: 3px; color:#999; }
a.in_place_edit:hover {color: #405A04; background-color:#c3dd82; text-decoration:none; }

.in_place_editing { }
.in_place_editing a.cancel { margin-left:10px; }
.in_place_editing a { background:none; padding:0; }

a.user img.small { width:25px; height:25px; }
a.user img.normal { width:100px; height:100px; }

.answers { margin:20px 0; }
.answers .vote_buttons { float:left; width:20px; position:relative; margin-top:5px; margin-right:8px; margin-left:-27px; }
.answers .vote_buttons a:link,
.answers .vote_buttons a:visited {  display:block; width:20px; height:17px;  background: #DFEAF4 url(/images/vote.gif); margin-bottom: 1px;
  -moz-border-radius: 3px; -webkit-border-radius: 3px; }
.answers .vote_buttons a:hover,
.answers .vote_buttons a.voted { background-color:#19558D; background-position: -17px left; }
.answers .vote_buttons a.vote_down:link,
.answers .vote_buttons a.vote_down:visited { background-position: top -20px; }
.answers .vote_buttons a.vote_down:hover,
.answers .vote_buttons a.vote_down.voted { background-color:#19558D; background-position: -20px -17px; }
.answers .answer_border { padding-right:30px; }
.answers .avatar_border { margin-top:2px; float:right; width:24px; margin-left:6px; }

.answers .answer { border-bottom:1px solid #DDD; padding:8px 0; margin-bottom:3px; }
.answers .answer .info { color: #999; margin:3px 0;  }

.ask .info a.user,
.answer .author { font-weight:bold; }
.answer .author a.user { font-weight:bold; }
.answer .votes { color:#999; margin-bottom:4px; }
.answer .votes a { color:#999; }

.disabled_answer { background:#ddd; padding:8px; text-align:center; }

.answer .action,
.ask .action { color:#999; margin:3px 0; }
.ask .action a,
.answer .action a { color:#538DC2; }
.answer .action a.voted { color:#666; }
.ask .action a.flagged { color:#999; }

.answer_form { }
.answer_form h2 { color:#999; }
.answer_form .user_info { margin:5px 0; }

.comments { margin-top:10px; }
.comments h2 { font-size:1em; color:#333; }
.comments .comment { padding-left:15px; margin-top:8px; background:url(/images/comment_bg.gif) left top no-repeat; }
.comments .comment .md_body { font-size:80%; }
.comments .comment .info {font-size: .9em;}
.comments .form { height: 50px; }
.comments .form textarea { float:left; height: 30px; width:300px; margin-right:6px;  }

#login { margin: 20px 0; }


.user_profile {}
.user_profile .bio { margin-top:10px; }

#topic { margin-bottom:10px; }
#topic h1 { font-size:2em; }
#topic .cover { width: 100px; float:left; margin-right:20px; }
#topic .info { float:left; width:500px; }

#omniauth_links { }
#omniauth_links li a { background:url(/images/favicons.png) left top no-repeat; 
  height:16px; display:inline-block; margin:3px 0; padding-left:18px; }
#omniauth_links li a.disabled,
#omniauth_links li a.disabled:hover { text-decoration:none; color:#333; }
#omniauth_links li.tsina a { background-position:0 -16px; }
#omniauth_links li.tqq a { background-position:0 -64px; }
#omniauth_links li.tqq1 a { background-position:0 -32px; }
#omniauth_links li.t163 a { background-position:0 -80px; }
#omniauth_links li.tsohu a { background-position:0 -96px; }
#omniauth_links li.google a { background-position:0 -48px; }
#omniauth_links li span { color:#999; margin-left:3px; }
