body { text-align:center; }
.container { width:960px; margin:0 auto; text-align:left; }
address, blockquote { font-style: normal; padding: 0 0 0 10px; border-left: 3px solid #D0E5F2; }

.box { -webkit-border-radius: 5px; -moz-border-radius: 5px; -o-border-radius: 5px;
	border-radius: 5px; background-color: #fff; }
.standard-box { background-color: #FFFEC8; border: 3px solid #C7C592; padding: 3px 10px; }
.gray { color: gray; font-color: 1em; }
.orange { color: #db841c; } 
.green { color: #009c3a; }
.purple { color: #754962; }

#header { background: #505759; height: 35px; padding-top: 18px; color:#FFF; }
#header #site_name { background-color:#a82400; color:#FFF; height:35px; width:68px; text-align:center; line-height:35px;  float:left;
  font-size:20px; font-weight:bold;  }
#header #site_name a { color:#FFF; text-decoration:none; }
#header #site_name a img { border:0; }
#header #add_ask { display:inline-block; background:#000; height:35px; line-height:35px; padding:0 6px; overflow:hidden; }
#header #add_ask input { width:360px; font-size: 16px;height: 18px; line-height:18px; border:0; margin-top: 2px; }
#header #add_ask a { color: #F0F0F0; font-weight: bold; font-size: 13px; padding: 10px 10px; text-align: center;}

#header #user_bar { padding-top:10px; text-align:right; margin-right:4px; width: 210px !important; _width: 220px;  }
#header #user_bar a { color: #B9BBBC; font-size:12px; display:inline-block; margin-right:8px; }
#footer { clear:both; padding-top:25px;  height:80px; color: gray;  }
#footer .inner { margin-left: 68px; border-top:1px solid #ccc; padding-top:10px;}
#footer .links {   margin-bottom:5px;  }

#header:after, #main:after, .ask:after, .notification-title:after, .answer:after, .user_profile .uname:after, .follow-stats:after, .followed-item li:after, .newbie ul.hot-topics:after, .followed-item li .item:after {
    content:""; display:block; visibility:hidden; height:0; clear:both; }

#main { margin:20px 0; }
.left_wrapper { float:left; width:630px; }
#footer .left_wrapper ,
#main .left_wrapper { margin-left:70px; margin-right:20px; width:605px; }
.sidebar { float:right; width:210px; overflow:hidden; _width:190px; }
.sidebar .box { margin-bottom:20px; }
.sidebar .box h2 { border-top: 1px dotted silver; padding: 15px 0 3px; color: #333; font-size: 1.2em; margin-bottom: 3px; }
.leftbox .box h2 { border-top: 1px dotted silver; padding: 15px 0 3px; color: #333; font-size: 1.2em; margin-bottom: 3px; }
.leftbox .box { margin-bottom:20px; }
.sidebar li { line-height:160%; }
.sidebar .standard ul { margin: 0; padding: 0; }
.sidebar .standard ul li { list-style: none; margin: 6px 0 8px; *text-indent: -16px; }
#relation_asks ul li a { font-weight:bold; }
#relation_asks ul li.more a { font-weight:normal; color: #538DC2; font-size:12px; }

.sidebar h2 samp { color:#999; font-weight:normal; font-size:13px; }
.sidebar h2 a { font-size:13px; color:#538DC2; outline:none; }
.sidebar h2 a.actived,
.sidebar h2 a.actived:hover { cursor:text; color:#333; text-decoration:none; }

.sidebar .sections { font-size:14px; }
.sidebar .sections li { display:inline; }
.sidebar .sections li a { display:block; padding:5px 18px; margin-bottom:4px;
  background:url(/images/section_arrow.gif) left center no-repeat; }
.sidebar .sections li a:hover,
.sidebar .sections li a.active { background-color: #DFEAF4; text-decoration: none; }
.sidebar .sections li a.active { background-color:#DDD; color:#333; cursor:default; }


#inner_new_ask {}
#inner_new_ask textarea { display:block; width:387px; height:80px; margin-bottom:8px; }
#inner_new_ask textarea.title { font-size:16px; font-weight:bold; }


#login { margin: 20px 0; }


.newbie {
	font-size: 1.2em;
}

.newbie h2 {
	font-weight: normal;
	font-size: 14px;
}

.newbie ul.hot-topics, .newbie ul.hot-asks {
	margin: 10px 5px;
}

.newbie ul.hot-topics li {
	list-style: none;
	float: left;
	margin: 3px 20px 3px 5px;
	line-height: 19px;
}

.newbie ul.hot-asks li {
	margin: 5px 0 5px 10px;
}





.followers { margin: 7px 0; }
.followers a { margin: 0 1px 3px 0; }

.answers-count {
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	padding: 8px 0;
	color: #999;
	font-size: 13px;
}

.listing-title {
	font-size: 14px;
	border-bottom: 2px solid #ddd;
	padding-bottom: 15px;
	margin-bottom: 15px;
}


.full-body {
	display: none;
}

#main .force-hide, #header .force-hide {
	display: none;
}

#footer {
	margin-top: 50px;
}



#header .home {
	position: relative;
}

.badge { background: none repeat scroll 0 0 #C3412F;
	color: white; display: block; font-size: 11px;
	line-height: 13px; padding: 1px 5px; position: absolute;
	right: -8px; text-decoration: none; top: -7px;
	-webkit-border-radius: 30px; -moz-border-radius: 30px; -o-border-radius: 30px;
	border-radius: 30px; }

