<% content_for :sidebar do %>
<div class="box">
  <div class="avatar"><%= image_tag(user.avatar.normal.url) %></div>
</div>
<div class="box">
  <h2></h2>
  <div class="inner">
    <span id="user_tagline"><%= user.tagline %></span>
    <% if owner?user %> <%= in_place_edit_tag(user,:tagline, :type => :textarea, :text_id => "user_tagline") %> <% end %>
  </div>
</div>
<div class="box gray">
  <div class="date">注册于 <%= l user.created_at.to_date, :format => :long %></div>
</div>
<% end %>
