<li>
	<div class="item">
		<a href="<%= topic_path(topic.name) %>"><%= topic.name %></a>
	</div>
	<% if current_user %>
	<div class="action">
		<% if current_user.topic_followed?(topic) %>
		<a href="#" onclick="return unfollow_topic(this, '<%= topic.name %>');">取消关注</a>
		<% else %>
		<a href="#" onclick="return follow_topic(this, '<%= topic.name %>');">关注</a>
		<% end %>
	</div>
	<% end %>
</li>