<% if target.errors.any? %>  
 <div class="error_explanation">
   <h2><%=t(:there)%> <%= target.errors.count %> <%=t(:department_can_not_submit_the_issue_lead_to)%>:</h2>

   <ul>
   <% target.errors.full_messages.each do |msg| %>
     <li><%= msg %></li>
   <% end %>
   </ul>
 </div>
<% end %>

