<div class="box" id="omniauth_links">
  <h2>用其他平台的帐号登陆</h2>
  <% if not current_user %>
    <ul>
      <li class="google"><a href="/auth/google">Google帐号</a></li>
      <li class="douban"><a href="/auth/douban">豆瓣</a></li>
      <li class="tqq"><a href="/auth/tqq">QQ帐号(腾讯微博)</a></li>
      <li class="tsina"><a href="/auth/tsina">新浪微博</a></li>
      <li class="t163"><a href="/auth/t163">网易帐号</a></li>
      <li class="tsohu"><a href="/auth/tsohu">搜狐帐号</a></li>
    </ul>
  <% else %>
    <ul>
      <% if not current_user.auths.index("google") %>
        <li class="google"><a href="/auth/google">Google帐号</a></li>
      <% else %>
        <li class="google"><a href="#" class="disabled">Google帐号</a><span>[已绑定]</span></li>
      <% end %>
      <% if not current_user.auths.index("douban") %>
        <li class="douban"><a href="/auth/douban">豆瓣</a></li>
      <% else %>
        <li class="douban"><a href="#" class="disabled">豆瓣</a><span>[已绑定]</span></li>
      <% end %>
      <% if not current_user.auths.index("tqq") %>
        <li class="tqq"><a href="/auth/tqq">QQ帐号(腾讯微博)</a></li>
      <% else %>
        <li class="tqq"><a href="#" class="disabled">QQ帐号</a><span>[已绑定]</span></li>
      <% end %>
      <% if not current_user.auths.index("tsina") %>
        <li class="tsina"><a href="/auth/tsina">新浪微博</a></li>
      <% else %>
        <li class="tsina"><a href="#" class="disabled">新浪微博</a><span>[已绑定]</span></li>
      <% end %>
      <% if not current_user.auths.index("t163") %>
        <li class="t163"><a href="/auth/t163">网易帐号</a></li>
      <% else %>
        <li class="t163"><a href="#" class="disabled">网易帐号</a><span>[已绑定]</span></li>
      <% end %>
      <% if not current_user.auths.index("tsohu") %>
        <li class="tsohu"><a href="/auth/tsohu">搜狐帐号</a></li>
      <% else %>
        <li class="tsohu"><a href="#" class="disabled">搜狐帐号</a><span>[已绑定]</span></li>
      <% end %>
    </ul>
  <% end %>
</div>
<script type="text/javascript">
  $("#omniauth_links a").click(function(){
      var a = $(this);
      if(a.attr("class") == "disabled"){
        return false;
      }
      App.loading();
  });
</script>
