<li>
	<div class="item">
    <%= topic_name_tag(topic) %>
	</div>
	<div class="action">
		<a class="green_button small" href="#" onclick="return Topics.follow(this, '<%= topic['name'] %>','small');">关注</a>
	</div>
</li>
