<%= content_for :styles do %>
  <style type="text/css">
    #about {}
    #about h2 { border-top:1px dashed #ccc; padding-top:10px; margin-top:20px; margin-bottom:10px; font-size:14px; }
  </style>
<% end %>
<div id="about">
  <h1>关于者也</h1>
  <div class="md_body">
    我们是一群向往自由开放的程序员，立志构建一个开放的问答社区站点。<br />
    我们乐于分享我们的项目源代码以及设计思路，以供有非盈利性目的的个人，公司使用。
  </div>
  <h2>团队成员</h2>
  <div class="team">
    <% @users.each do |u| %>
      <%= user_avatar_tag(u,:normal) %>
    <% end %>
  </div>
  <h2>贡献者</h2>
  <div class="contributors">
    <ul>
      <li><a href="https://github.com/saberma">Saberma</a></li>
    </ul>
  </div>
</div>
<%= content_for :sidebar do %>
  <div class="box">
    <h2>常见问题</h2>
    <ul> 
      <li><a href="http://zheye.org/asks/4d92a076fd503c480e00002a">为啥起“者也”这个名字？</a></li> 
      <li><a href="http://zheye.org/asks/4d95f33bfd503c3bf2000011">者也每天都做了哪些更新？</a></li> 
      <li><a href="http://zheye.org/asks/4d95a178fd503c6ad6000030">代码部署和二次开发容易吗？</a></li> 
      <li><a href="http://zheye.org/asks/4d95ee5bfd503c2652000039">者也比知乎好在哪里？</a></li> 
      <li><a href="http://zheye.org/asks/4d92db71fd503c7c03000188">用户名称可以修改么？</a></li> 
      <li><a href="http://zheye.org/asks/4d94325efd503c17a5000004">者也是个怎样的问答社区？</a></li> 
    </ul>
  </div>
<% end %>
