<% if !@followers.blank? %>
<div class="box standard gray">
  <h2>最近关注<%= user_sex_title(@user) %>的人</h2>
	<div class="inner">
		<div class="followers">
			<% for follower in @followers %>
			<a href="/users/<%= follower.slug %>" title="<%= follower.name %>">
				<%= user_avatar_tag(follower, :small) %>
			</a>
			<% end %>
		</div>
	</div>
</div>
<% end %>
